*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.map-container {
  position:fixed;
  right:2%;
  top:70px;
  height: 400px;
  width:70%;
}
